# Default ignored files
/shelf/
/workspace.xml
/node_modules
/appCia/siteCia/static/docs
Alterações necessárias no projeto.txt
Detectar dispositivo.png
Funcionalidades app.txt
package.json
package-lock.json
Procfile
reconhecer link no post.txt
requirements.txt
appCia.db
alterar_banco.py
Cadastro.xlsx
Colaboradores.xlsx
Folha.xlsx
formatar_texto.py
Func email.xlsx
Hr.xlsx
README.md
teste.py
teste_grade.py
Modelo incluir lote.xlsx

/siteCia/alterar_banco.py
/siteCia/Cadastro.xlsx
/siteCia/__init__.py
/siteCia/alterar_banco.py
/siteCia/cadastro.py
/siteCia/Cadastro.xlsx
/siteCia/Colaboradores.xlsx
/siteCia/Folha.xlsx
/siteCia/Func email.xlsx
/siteCia/Hr.xlsx
/siteCia/teste.py
/siteCia/teste_grade.py
/siteCia/~$Func email.xlsx
/siteCia/Func email.xlsx
/Sugestoes de nomes.txt
