{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 ms-5 shadow p-3">
                <h3>Atestados</h3>
                <h5>Envie seu atestado<br></h5><input type="file"><br>
            </div>
            <div class="card2 ms-5 mt-5 shadow p-3">
                    <h5>Atestados entregues:</h5>
                    <ul>
                        <li class="divSquare"><a href="" download="atestado.pdf" style="text-decoration: none; color: black;">Atestado X - Data X</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}
