{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 ms-5 p-3 shadow">
                <ul>
                    <li class="divSquare"><a href="" download="rg.pdf" style="text-decoration: none; color: black;">RG e CPF<br></a></li>
                    <li class="divSquare"><a href="" download="end.pdf" style="text-decoration: none; color: black;">Comprovante de endereço<br></li>
                    <li class="divSquare"><a href="" download="titulo.pdf" style="text-decoration: none; color: black;">Título de eleitor<br></li>
                    <li class="divSquare"><a href="" download="certif.pdf" style="text-decoration: none; color: black;">Certificados<br></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}