{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 ms-5 p-3 shadow">
                <ul>
                    <li class="divSquare" id="ficha"><a href="" download="ficha.pdf" style="text-decoration: none; color: black;">Ficha Cadastral<br></a></li>
                    <li class="divSquare" id="contrato"><a href="" download="contrato.pdf" style="text-decoration: none; color: black;">Contrato<br></a></li>
                    <li class="divSquare" id="acordo"><a href="" download="acordo.pdf" style="text-decoration: none; color: black;">Acordo Compensação Horas<br></a></li>
                    <li class="divSquare" id="codigo"><a href="" download="etica.pdf" style="text-decoration: none; color: black;">Código de Ética<br></a></li>
                    <li class="divSquare" id="vt"><a href="" download="vt.pdf" style="text-decoration: none; color: black;">Termo Vale Transporte<br></a></li>
                    <li class="divSquare" id="holerite"><a href="" download="recibo.pdf" style="text-decoration: none; color: black;">Recibo de Entrega e Devolução de Carteira<br></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}