{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 p-3">
				<p>Contracheques:</p>
				<div class="divSquare mt-2">
					<ul>
						<li class="collapsed" data-bs-toggle="collapse" data-bs-target="#X" aria-expanded="true"><a href="" style="color:black;">Ano X</a></li>
							<div class="collapse" id="X">
								<ul>
									<li>Mês 01</li>
									<li>Mês 02</li>
									<li>Mês 03</li>
									<li>Mês 04</li>
									<li>Mês 05</li>
									<li>Mês 06</li>
									<li>Mês 07</li>
									<li>Mês 08</li>
									<li>Mês 09</li>
									<li>Mês 10</li>
									<li>Mês 11</li>
									<li>Mês 12</li>
								</ul>
							</div>
						<li class="collapsed" data-bs-toggle="collapse" data-bs-target="#Y" aria-expanded="true"><a href="" style="color:black;">Ano Y</a></li>
							<div class="collapse" id="Y">
								<ul>
									<li>Mês 01</li>
									<li>Mês 02</li>
									<li>Mês 03</li>
									<li>Mês 04</li>
									<li>Mês 05</li>
									<li>Mês 06</li>
									<li>Mês 07</li>
									<li>Mês 08</li>
									<li>Mês 09</li>
									<li>Mês 10</li>
									<li>Mês 11</li>
									<li>Mês 12</li>
								</ul>
							</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}