{% extends 'base.html' %}
{% block conteudo %}
{% for post in posts %}
	    {% if post.foto_post %}
            <div class="col-8 mx-auto mb-3">
                <div class="card2 p-2 mt-2 ms-5 shadow">
                    <div class="row">
                        <div class="col-3 container-col">
                                  <p class="text-justify text-muted" style="font-size: 12px;">
                                      {{ post.autor.nome }}:<br>{{ post.autor.cargo | replace('Oaf','OAF') }}
                                  </p>
                        </div>
                        <div class="col-9 text-end">
                          <a href="{{url_for('perfilof', usuario_id=post.autor.id)}}">
                            <img src="static/fotos_perfil/{{post.autor.foto_perfil}}" class="rounded-circle img float-end" width="50px">
                          </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 mb-4 text-center align-middle">
                          <img src="static/fotos_post/{{post.foto_post}}" class="img-fluid mx-auto imgpost" />
                        </div>

                    </div>
                          <div class="container-col">
                              <p class="text-justify 1h-sm">
                                  {{ post.corpo }}
                              </p>
                          </div>

                    <div class="row">
                            <div class="col">
                            {%if post.postcurtido != []%}
                                {%for curtida in post.postcurtido%}
                                    {% if curtida.id_quem_curtiu|int == current_user.id %}
                                        <button class="button-like liked" onclick='x(this)' id="{{post.id}}">
                                        <i class="fa fa-heart"></i>
                                            <span>Curtir &hearts;</span>
                                        </button>
                                    {% else %}
                                        <button class="button-like" onclick='x(this)' id="{{ post.id }}">
                                        <i class="fa fa-heart"></i>
                                            <span>Curtir &hearts;</span>
                                        </button>
                                    {% endif %}
                                {%endfor%}
                            <p><a href="{{url_for('noticias')}}" style="color: black; font-size: 10px; text-decoration: None;">Visualizar curtidas</a></p>
                            {%else%}
                                    <button class="button-like" onclick='x(this)' id="{{ post.id  }}">
                                    <i class="fa fa-heart"></i>
                                        <span>Curtir &hearts;</span>
                                    </button>
                            {%endif%}
                                {% if post.autor.id == current_user.id or current_user.tipo_usuario == 'master'or current_user.tipo_usuario == 'diretor' or current_user.tipo_usuario == 'presidente' %}
                                     <a class="text-muted text-decoration-none text-end float-end" href="{{url_for('excluirpost', post_id=post.id)}}">
                                        Editar / Excluir
                                     </a>
                                {% endif %}
                            </div>
                    </div>
                    <div class="row">
                        <div class="col">
                             <p class="text-end text-muted" style="font-size: 10px">
                                Publicado em: {{ post.data_criacao.strftime('%d/%m/%Y %H:%M') }}<br>
                                 {{post.autor.unid.nome}}
                             </p>
                        </div>
                    </div>
                    <div class="container mt-2 border-top">
                        <div class="col-12">
                            {% for coment in post.comentario %}
                                <div class="card mt-1 p-2">
                                    <div class="container text-end p-1">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a href="{{url_for('perfilof', usuario_id=coment.autor_coment)}}">
                                                    <img src="../static/fotos_perfil/{{ coment.autor.foto_perfil }}" class="rounded img float-end" width="40px">
                                                </a>
                                            </div>
                                            <div class="col-10 text-justify text-start">
                                                {{ coment.corpo_coment }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container text-end">
                        <a class="text-end text-muted text-decoration-none" href="{{url_for('comentar', post=post.id)}}">
                            Comentar
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-8 mx-auto mb-3">
            <div class="card2 p-2 mt-2 ms-5 shadow">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <a href="{{url_for('perfilof', usuario_id=post.autor.id)}}">
                            <img src="../static/fotos_perfil/{{post.autor.foto_perfil}}" class="rounded-circle img float-end" width="50px">
                        </a>
                        <div class="container-col ms-2">
                            <p class="text-justify text-muted" style="font-size: 12px;">
                                {{ post.autor.nome }}:<br>{{ post.autor.cargo | replace('Oaf','OAF') }}
                            </p>
                            <p class="text-justify 1h-sm">
                                {{ post.corpo }}
                            </p>
                            {% if post.id == 20 %}

                                <iframe width="100%" height="515"
                                    src="https://www.youtube.com/embed/R5-HNXxc5kk">
                                </iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col float-end">
                            {%if post.postcurtido != []%}
                                {%for curtida in post.postcurtido%}
                                    {% if curtida.id_quem_curtiu|int == current_user.id %}
                                        <button class="button-like liked" onclick='x(this)' id="{{ post.id}}">
                                        <i class="fa fa-heart"></i>
                                            <span>Curtir &hearts;</span>
                                        </button>
                                    {% else %}
                                        <button class="button-like" onclick='x(this)' id="{{post.id }}">
                                        <i class="fa fa-heart"></i>
                                            <span>Curtir &hearts;</span>
                                        </button>
                                    {% endif %}
                                {%endfor%}
                            <p><a href="{{url_for('noticias')}}" style="color: black; font-size: 10px; text-decoration: None;">Visualizar curtidas</a></p>
                            {%else%}
                                    <button class="button-like" onclick='x(this)' id="{{  post.id}}">
                                    <i class="fa fa-heart"></i>
                                        <span>Curtir &hearts;</span>
                                    </button>
                            {%endif%}
                                {% if post.autor.id == current_user.id or current_user.tipo_usuario == 'master'or current_user.tipo_usuario == 'diretor' or current_user.tipo_usuario == 'presidente' %}
                             <a class="text-end text-muted text-decoration-none float-end" href="{{url_for('excluirpost', post_id=post.id)}}">
                                Editar / Excluir
                             </a>
                            {% endif %}
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                         <p class="text-end text-muted" style="font-size: 10px">
                            Publicado em: {{ post.data_criacao.strftime('%d/%m/%Y %H:%M') }}<br>
                             Unidade: {{post.autor.unid.nome}}
                         </p>
                    </div>
                </div>
                <div class="container mt-2 border-top">
                    <div class="col-12">
                        {% for coment in post.comentario %}
                            <div class="card mt-1 p-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-1 text-left">
                                                <a href="{{url_for('perfilof', usuario_id=coment.autor_coment)}}">
                                                    <img src="../static/fotos_perfil/{{ coment.autor.foto_perfil }}" class="rounded img float-end" width="40px">
                                                </a>
                                        </div>
                                        <div class="col-10 text-justify text-left">
                                            {{ coment.corpo_coment }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container text-end">
                    <a class="text-end text-muted text-decoration-none" href="{{url_for('comentar', post=post.id)}}">
                        Comentar
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endblock %}
