{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 ms-5 p-3 shadow">
                <ul>
                    <li class="divSquare" id="ficha"><a href="" download="ficha.pdf" style="text-decoration: none; color: black;">Regras gerais<br></a></li>
                    <li class="divSquare" id="contrato"><a href="" download="contrato.pdf" style="text-decoration: none; color: black;">Política Antiassédio<br></a></li>
                    <li class="divSquare" id="acordo"><a href="" download="acordo.pdf" style="text-decoration: none; color: black;">Política de Gestão de Dados (LGPD)<br></a></li>
                    <li class="divSquare" id="codigo"><a href="" download="etica.pdf" style="text-decoration: none; color: black;">Código de Ética<br></a></li>
                    <li class="divSquare" id="vt"><a href="" download="vt.pdf" style="text-decoration: none; color: black;">Regras Horistas<br></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}