{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-3 ms-5">
        <div class="col-8">
            <div class="card2 ms-5 shadow p-3">
                <div class="divSquare" id="imp_renda"><p>Comprovantes de Imposto de Renda:</p>
                    <ul>
                        <li class="divSquare"><a href="" download="ir.pdf" style="text-decoration: none; color: black;">Comprovante IR Ano X</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}